<html>
    <head>
            <%- include('./partials/generic_head') %>

        <style>
            <%- include('./partials/common_styling') %>

            form{
                width:100vw;
            }
            .container{
                height:80vh
            }
            
        </style>
        
    </head>
    <body>
        <%- include('./partials/navbar') %>
        <div class = 'container d-flex justify-content-center align-items-center' style='height:80vh'>

                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active justify-content-center align-items-between text-center" data-bs-interval="10000" style = 'width:80vw'>
                        <img src="/homepage_images/all.png" class="d-block mb-4" alt="..." style='height:80vh; width: 60vw;object-fit:contain;margin:auto'>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>View all personal EATS recorded</h5>
                            <small><p>log in or sign up to get started!</p></small>
                        </div>
                        </div>
                        <div class="carousel-item  justify-content-center align-items-between text-center" data-bs-interval="2000" style = 'width:80vw'>
                        <img src="/homepage_images/mapsearch.png" class="d-block mb-4" alt="..." style='height:80vh; width: 60vw;object-fit:contain;margin:auto'>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Quick mrt search for eats nearby</h5>
                            <small><p>log in or sign up to get started!</p></small>
                        </div>
                        </div>
                        <div class="carousel-item  justify-content-center align-items-between text-center" data-bs-interval="2000" style = 'width:80vw'>
                        <img src="/homepage_images/random.png" class="d-block mb-4" alt="..." style='height:80vh; width: 50vw;object-fit:contain;margin:auto'>
                        <div class="carousel-caption d-none d-md-block" >
                            <h5>Random suggestions based on your eats</h5>
                            <small><p>log in or sign up to get started!</p></small>
                        </div>
                        </div>
                        <div class="carousel-item justify-content-center align-items-between text-center" data-bs-interval="2000" style = 'width:80vw'>
                        <img src="/homepage_images/add.png" class="d-block mb-4" alt="..." style='height:80vh; width: 60vw;object-fit:contain;margin:auto'>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Fast and easy way to record eats</h5>
                            <small><p>log in or sign up to get started!</p></small>
                        </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
        </div>
        
    </body>
    
</html>